langchain==0.0.340
tiktoken==0.4.0
PyPDF2==3.0.1 
python-dotenv
streamlit
faiss-cpu
altair
pydantic==1.10.2
# oss models
huggingface-hub
# openai models
openai


#  to use instructor embeddings
# InstructorEmbedding
# sentence-transformers